
        <h1>Cadastro de Usuario</h1>
        <form method="POST" action="/usuario">
            Nome:<br>
            <input type="text" name="user" id="user"/><br> 
            email:<br>
            <input type="text" name="email" id="email"/><br> 
            <input type="submit" value="Cadastrar"/>
        </form> 
